<a href="https://colab.research.google.com/github/Masteryny/Estadisitca2021/blob/main/PracticaSeriesdeTiempo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
import numpy as np
import pandas as pd
import statsmodels.api as sm 
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

In [46]:
datos=pd.read_csv("/content/CSVS/Electric_Production.csv")

In [47]:
datos.dtypes

DATE           object
IPG2211A2N    float64
dtype: object

In [49]:
datos['Fecha_y_Hora']=datos.DATE
datos['fecha_hora']=datos.Fecha_y_Hora.map(lambda x:datetime.strptime(x,'%d/%m/%Y'))

In [50]:
datos.index=datos.fecha_hora
datos = datos.loc['1996-01']
datos.head

<bound method NDFrame.head of                  DATE  IPG2211A2N Fecha_y_Hora fecha_hora
fecha_hora
1996-01-01   1/1/1996     98.9732     1/1/1996 1996-01-01
1996-01-02   2/1/1996     92.8883     2/1/1996 1996-01-02
1996-01-03   3/1/1996     86.9356     3/1/1996 1996-01-03
1996-01-04   4/1/1996     77.2214     4/1/1996 1996-01-04
1996-01-05   5/1/1996     76.6826     5/1/1996 1996-01-05
1996-01-06   6/1/1996     81.9306     6/1/1996 1996-01-06
1996-01-07   7/1/1996     85.9606     7/1/1996 1996-01-07
1996-01-08   8/1/1996     86.5562     8/1/1996 1996-01-08
1996-01-09   9/1/1996     79.1919     9/1/1996 1996-01-09
1996-01-10  10/1/1996     74.6891    10/1/1996 1996-01-10
1996-01-11  11/1/1996     81.0740    11/1/1996 1996-01-11
1996-01-12  12/1/1996     90.4855    12/1/1996 1996-01-12>